/* You can add global styles to this file, and also import other style files */


/*
body {
    background: lightgrey
}*/

.form_error {
    color: #d79f9f
}

.boton {
    cursor: pointer
}

tr button {
    padding: 8px !important;
}